/* Reset for elements only */
.el * {
  margin: 0;
  padding: 0;
}

.el button {
  background-color: none;
  border: none;
}

.el ul {
  list-style-type: none;
}

.el svg {
  width: 0.5rem;
}

/* Default styles for element enhancer */
.el {
  /* Colors */
  --theme-color: #5f3dc5;
  --theme-bg-color: #ede6ff;

  --theme-text-color: var(--theme-color);
  --theme-text-color-active: #fff;

  --theme-pop-up-bg: #fff;

  /* Font */
  --theme-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --theme-font-size: 1rem;
  --theme-font-weight: 400;

  /* Borders */
  --theme-border-thickness: 1px;
  --theme-border-rounding: 5px;
  --theme-border-style: solid;

  /* Spacing */
  --theme-spacing-x: 1.5rem;
  --theme-spacing-y: 1rem;

  /* Animation */
  --theme-animation-duration: 150ms;
  --theme-animation-function: ease-in-out;
}

/* 
Css variables
All css variables are initialized to default theme
*/
.el {
  /* Text color */
  --text-color: var(--theme-color);
  --text-color-hover: var(--theme-text-color-active);
  --text-color-focus: var(--theme-text-color-active);
  --text-color-selected: var(--theme-text-color-active);

  /* Background color */
  --bg-color: var(--theme-bg-color);
  --bg-color-hover: var(--theme-color);
  --bg-color-focus: var(--theme-color);
  --bg-color-selected: var(--theme-color);
  /* Pop up container color */
  --pop-up-bg: var(--theme-pop-up-bg);

  /* Border color */
  --border-color: var(--theme-color);
  --border-style: var(--theme-border-style);
  --border-thickness: var(--theme-border-thickness);
  --border-rounding: var(--theme-border-rounding);

  /* Typography */
  --font-family: var(--theme-font-family);
  --font-size: var(--theme-font-size);
  --font-weight: var(--theme-font-weight);

  /* Spacing */
  --spacing-x: var(--theme-spacing-x);
  --spacing-y: var(--theme-spacing-y);

  /* Shadow */
  --shadow-x: 0;
  --shadow-y: 5px;
  --shadow-blur: 10px;
  --shadow-offset: 0;
  --shadow-color: rgba(0, 0, 0, 0.1);

  /* Animation */
  --animation-duration: var(--theme-animation-duration);
  --animation-function: var(--theme-animation-function);
}
