/* Reset for elements only */
.el * {
  margin: 0;
  padding: 0;
}

.el button {
  background-color: none;
  border: none;
}

.el ul {
  list-style-type: none;
}

/* Css variables */
.el {
  /* Colors */
  --theme-color: #5f3dc4;
  --theme-bg: #e5dbff;

  /* Typography */
  --ff: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* Borders */
  --border-thickness: 1px;
  --border-style: solid;
  --border-color: var(--theme-color);
  --border: var(--border-thickness) var(--border-style) var(--border-color);
  --border-radius: 5px;

  /* Spacing */
  --spacing-y: 1rem;
  --spacing-x: 1.5rem;

  /* Shadows */
  --shadow-x: 0;
  --shadow-y: 5px;
  --shadow-blur: 10px;
  --shadow-offset: 0;
  --shadow-color: rgba(0, 0, 0, 0.1);

  --shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
    var(--shadow-offset) var(--shadow-color);

  /* Animations */
  --animation-duration: 150ms;
  --animation-function: ease-in-out;
}

/* Default styles for element enhancer */
.el * {
  font-family: var(--ff);
}
