/* 
Used to test if overwriting css variable with custom
stylesheet works 

And it does :))
*/

/* .el {
  --theme-color: red;
  --theme-color-secondary: salmon;
  --theme-bg-color: blue;
  --text-color: red;
  --bg-color: blue;
} */
