/* ==========
	Resets
	=========== */
/* Preferred box-sizing value, and remove spacing of elements */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	border: none;
	background-color: transparent;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/* Custom variables */
:root {
	/* Default colors */
	--clr-theme: #7e63cf;
	--clr-theme-500: #6e4fc9;
	--clr-theme-600: #5e3cc3;

	--clr-text: var(--clr-text-dark);
	--clr-bg: var(--clr-bg-dark);
	--clr-card-bg: var(--clr-card-bg-dark);

	--clr-gradient-start: #b621fe;
	--clr-gradient-end: #1fd1f9;
	--clr-gradient-bg: var(--clr-gradient-bg-dark);

	--clr-scroll-bg: var(--clr-scroll-bg-dark);
	--clr-scroll-thumb: var(--clr-scroll-thumb-dark);
	--clr-scroll-thumb-hover: var(--clr-scroll-thumb-hover-dark);

	/* Dark theme colors */
	--clr-text-dark: #fff;
	--clr-bg-dark: #1a1a1a;
	--clr-card-bg-dark: #262626;
	--clr-gradient-bg-dark: rgba(26, 26, 26, 0.8);

	--clr-scroll-bg-dark: #0d0d0d;
	--clr-scroll-thumb-dark: #b3b3b3;
	--clr-scroll-thumb-hover-dark: #808080;

	/* Light theme colors */
	--clr-text-light: #262626;
	--clr-bg-light: #e6e6e6;
	--clr-card-bg-light: #f2f2f2;
	--clr-gradient-bg-light: #f2f2f2;

	--clr-scroll-bg-light: #fff;
	--clr-scroll-thumb-light: #958c8c;
	--clr-scroll-thumb-hover-light: #666666;

	/* Fonts */
	--ff-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	/* Box element related */
	--border-radius: 5px;

	--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

	/* Animations */
	--animation-duration: 150ms;
	--animation-function: ease-in-out;
}

/* Global elements */
html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--ff-primary);
	color: var(--clr-text);
	background-color: var(--clr-bg);

	transition: background-color var(--animation-duration)
			var(--animation-function),
		color var(--animation-duration) var(--animation-function);
}

a {
	color: #7e63cf;
}

svg {
	width: 0.75rem;
	fill: var(--clr-text);
}

.title--main {
	font-size: 2.5rem;
}

.title--secondary {
	font-size: 2rem;
}

.text {
	line-height: 2.5rem;
}

.inline-list {
	list-style-type: disc;
	margin-left: 1rem;
}

.inline-list li:not(:last-child) {
	margin-bottom: 1rem;
}

.logo {
	text-transform: uppercase;
	color: var(--clr-text);
	text-decoration: none;
	font-weight: bold;
}

.section:not(:first-child) {
	padding-top: 6rem;
}

.section > *:not(:last-child) {
	margin-bottom: 2rem;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}
::-webkit-scrollbar-button {
	width: 29px;
	height: 29px;
}
::-webkit-scrollbar-thumb {
	background: var(--clr-scroll-thumb);
	border: 4px solid var(--clr-scroll-bg);
	border-radius: 17px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--clr-scroll-thumb-hover);
}
::-webkit-scrollbar-track {
	background: var(--clr-scroll-bg);
	border: 0px none #ffffff;
	border-radius: 0px;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/* Utility */
.title {
	font-weight: bold;
}

.cta {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: #fff;
	background-color: var(--clr-theme);
	padding: 1rem;
	border-radius: var(--border-radius);
	text-decoration: none;

	transition: background-color var(--animation-duration)
			var(--animation-function),
		color var(--animation-duration) var(--animation-function);
}

.cta svg {
	fill: #fff;
	transition: transform var(--animation-duration) var(--animation-function);
}

.cta:hover,
.cta:focus-visible {
	color: var(--clr-bg);
	background-color: var(--clr-text);
}

.cta:hover svg,
.cta:focus-visible svg {
	fill: var(--clr-bg);
	transform: translateX(2px);
}

.box-shadow {
	box-shadow: var(--box-shadow);
}

.card {
	background-color: var(--clr-card-bg);
	padding: 1rem;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

/* Light theme */
body[data-theme='light'] {
	--clr-text: var(--clr-text-light);
	--clr-bg: var(--clr-bg-light);
	--clr-card-bg: var(--clr-card-bg-light);

	--clr-gradient-bg: var(--clr-gradient-bg-light);

	--clr-scroll-bg: var(--clr-scroll-bg-light);
	--clr-scroll-thumb: var(--clr-scroll-thumb-light);
	--clr-scroll-thumb-hover: var(--clr-scroll-thumb-hover-light);
}
